@model IEnumerable<WebProject_ITTaling.Models.ApplySchedule>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Application.applicationLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.applyDayofweek)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.applyScheduleTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Application.applicationLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.applyDayofweek)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.applyScheduleTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.applyScheduleID }) |
            @Html.ActionLink("Details", "Details", new { id=item.applyScheduleID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.applyScheduleID })
        </td>
    </tr>
}

</table>
